  <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
      <div class="navbar-brand"></div>
        <a class="navbar-item" href="/">
          <h1 class='title is-4'>Freelancer</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <%= form_tag search_path, method: :get do %>
                <div class="field has-addons <%= 'is-hidden' if current_page?(root_path) %>">
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa fa-search"></i>
                        </span>
                        <%= text_field_tag 'q', '', class: "input", placeholder: "Try 'logo design'" %>
                    </div>
                    <div class="control">
                        <button class="button is-danger" type="submit">Search</button>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          
          <div class="navbar-end">
            <%= link_to 'Post Gig', new_gig_path, class: "navbar-item" %>
            <%= link_to 'Browse Gigs', search_path, class: "navbar-item" %>

              <% if (!user_signed_in?) %>
                <div class="navbar-item">
                  <div class="buttons">
                    <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-primary' %>
                    <%= link_to 'Login', new_user_session_path, class: 'button is-light' %>
                  </div>
              </div>
              <% else %>

              <div class="navbar-item dropdown is-hoverable">
                <a class='navbar-link'>
                  <figure class='image is-24x24 m-r-5 avatar <%= current_user.status ? "online" : "offline" %>'>
                    <%= image_tag avatar_url(current_user), class: 'is-rounded' %>
                  </figure>
                  <%= current_user.full_name %>
                </a>
    
                <div class="navbar-dropdown">
                <%= link_to 'Profile', edit_user_registration_path, class: 'navbar-item' %>
                  <%= link_to 'Dashboard', dashboard_path, class: 'navbar-item' %>
                  <hr class="navbar-divider">
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
                </div>
              </div>
              <% end %>
          </div>
      </div>
  </nav>

  <% if (user_signed_in?) && !current_page?(root_path) && !current_page?(search_path) && !current_page?("/gigs/#{params[:id]}") && !current_page?("/users/#{params[:id]}") %>

    <nav class='navbar has-shadow' style='z-index: 5'>
      <div class="container">
        <div class="navbar">
          <%= link_to 'Dashboard', dashboard_path, class: 'navbar-item' %>
          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Selling</a>
              <div class="navbar-dropdown">
                <%= link_to 'Create New Gig', new_gig_path, class: "navbar-item" %>
              </div>
            </div>

          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Buying</a>
              <div class="navbar-dropdown">
                <%= link_to "Post Request", new_request_path, class: "navbar-item" %>
                <%= link_to "Manage Requests", requests_path, class: "navbar-item" %>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Buyer Request</a>
                <div class="navbar-dropdown">
                <%= link_to "Active Requests", all_requests_path, class: "navbar-item" %>
                <%= link_to 'Offers Sent', my_offers_path, class: "navbar-item" %>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Orders</a>
                <div class="navbar-dropdown">
                  <%= link_to 'Selling Orders', selling_orders_path, class: "navbar-item" %>
                  <%= link_to 'Buying Orders', buying_orders_path, class: "navbar-item" %>
                </div>
            </div>

            <%= link_to 'Earnings', dashboard_path, class: 'navbar-item' %>
            <%= link_to 'Messages', dashboard_path, class: 'navbar-item' %>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Settings</a>
                <div class="navbar-dropdown">
                  <%= link_to "Payment Method", settings_payment_path, class: "navbar-item" %>
                  <%= link_to "Payout Method", settings_payout_path, class: "navbar-item" %>
                </div>
            </div>
        </div>
      </div>
    </nav>

  <% end %>
  
  <script>
    $(document).ready(function() {

// Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

      });
    });
  </script>
