<section class="section">
    <div class="container">
        <p class="title">My Offers</p>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Request Title</th>
                    <th>Budget</th>
                    <th>Offer Amount</th>
                    <th>Deliver in</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% if @offers.blank? %>
                    <tr>
                        <td colspan="6" class="has-text-centered">NOTHING TO SHOW HERE</td>
                    </tr>
                <% end %>

                <% @offers.each do |o| %>
                    <tr>
                        <td><%= o.created_at.strftime('%d, %b %Y') %></td>
                        <td>
                            <%= link_to o.request.title, request_path(o.request) %>
                        </td>
                        <td>$<%= o.request.budget %></td>
                        <td>$<%= o.amount %></td>
                        <td><%= pluralize(o.days, 'day') %></td>
                        <td>
                            <span class="tag <%= 'is-warning' if o.pending? %> <%= 'is-success' if o.accepted? %> <%= 'is-danger' if o.rejected? %>">
                                <%= o.status.capitalize %>
                            </span>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</section>