<section class="section">
    <div class="container">
        <p class="title">Manage Buying Orders</p>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Seller Name</th>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% if @orders.blank? %>
                <tr>
                    <td colspan="6" class="has-text-centered"><h1>NOTHING TO SHOW HERE...</h1></td>
                </tr>
            <% end %>

            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.created_at.strftime('%d %b %Y') %></td>
                    <td><%= order.seller_name %></td>
                    <td>
                        <%= link_to order.title, gig_path(order.gig) if !order.gig.nil? %>
                        <%= link_to order.title, request_path(order.request) if !order.request.nil? %>
                    </td>
                    <td><%= order.due_date.strftime('%d %b %Y') %></td>
                    <td>$<%= order.amount %></td>
                    <td>
                        <span class="tag <%= 'is-warning' if order.inprogress? %> <%= 'is-success' if order.completed? %>">
                            <%= order.status.capitalize %>
                        </span>
                    </td>
                    <td>
                        <% if !order.completed? %>
                            <%= link_to 'Mark Complete', complete_order_path(order), method: :put, class: "button is-small is-primary #{'is-hidden' if order.completed?}" %>
                        <% else %>
                            <a class="button is-small is-outlined is-danger toggle-modal" aria-control="<%= order.id %>">Rating</a>
                            <div class="modal" id="<%= order.id %>">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <div class="box">
                                        <%= form_for Review.new do |f| %>
                                            <%= f.hidden_field :order_id, value: order.id %>
                                            <div class="field">
                                                <div id="star_<%= order.id %>"></div>
                                            </div>
                                            <div class="field">
                                                <%= f.text_area:review, class: "textarea" %>
                                            </div>
                                            <a class="toggle-modal button is-light" aria-control="<%= order.id %>">Cancel</a>
                                            <%= f.submit "Add Review", class: "button is-danger" %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
</section>

<script>
    $('.toggle-modal').on('click', (e) => {
        e.stopPropagation();
        e.preventDefault();

        var order_id = e.target.getAttribute('aria-control');

        $('#star_' + order_id).raty({
            path: '/assets/raty-js/lib/images',
            scoreName: 'review[stars]',
            score: 1
        });
        
        $('#star_' + order_id).raty('reload');
        $('#' + order_id).toggleClass('is-active');
    });
</script>