<section class="section">
    <div class="container">
        <p class="title">Manage Buying Orders</p>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Seller Name</th>
                    <th>Title</th>
                    <th>Due Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <% if @orders.blank? %>
                <tr>
                    <td colspan="6" class="has-text-centered"><h1>NOTHING TO SHOW HERE...</h1></td>
                </tr>
            <% end %>

            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.created_at.strftime('%d %b %Y') %></td>
                    <td><%= order.seller_name %></td>
                    <td>
                        <%= link_to order.title, gig_path(order.gig) if !order.gig.nil? %>
                        <%= link_to order.title, request_path(order.request) if !order.request.nil? %>
                    </td>
                    <td><%= order.due_date.strftime('%d %b %Y') %></td>
                    <td><%= order.amount %></td>
                    <td>
                        <span class="tag <%= 'is-warning' if order.inprogress? %> <%= 'is-success' if order.completed? %>">
                            <%= order.status.capitalize %>
                        </span>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>