/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

//= require trix/dist/trix 
 *= require_tree .
 *= require_self
 */


 @import 'bulma';
 @import 'bulma-extensions';
 @import 'bulma-extensions/bulma-carousel/dist/css/bulma-carousel.min';
 @import 'noty/lib/noty';
 @import 'noty/lib/theme/sunset';
 @import 'dropzone/dist/basic.css';
 @import 'dropzone/dist/dropzone.css';
 @import 'raty-js/lib/jquery.raty';
 
 .is-horizontal-center {
    justify-content: center;
 }

 .small-title {
     font-size: 10px;
 }

 .star-review {
     color: #ffef00;
     font-size: 13px;
     font-weight: 600;
 }

 .trix-content {
    .attachment-gallery {
      > action-text-attachment,
      > .attachment {
        flex: 1 0 33%;
        padding: 0 0.5em;
        max-width: 33%;
      }
  
      &.attachment-gallery--2,
      &.attachment-gallery--4 {
        > action-text-attachment,
        > .attachment {
          flex-basis: 50%;
          max-width: 50%;
        }
      }
    }
  
    action-text-attachment {
      .attachment {
        padding: 0 !important;
        max-width: 100% !important;
      }
    }
  }

  .dropzone {
    border: 2px dashed #0087f7 !important;
    border-radius: 5px;
    background: #fff;
  }

  .dropzone .dz-message {
    font-weight: 400;
  }

  .dropzone .dz-message .note {
    font-size: 0.8rem;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
  }

  .f-#{$space} {
    font-size: #{$space}px !important;
  }

  .form-container {
    margin-left: 100px;
    margin-right: 100px;
  }

  .service {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .pagination-link.is-current {
    background: #00d1b2;
    border-color: #00d1b2;
  }

  .has-bg-img {
    background: url('/assets/home/background.jpg') center center;
    background-size: cover;
  }

  .card-image {
    padding: 10px;
  }

  .avatar {
    position: relative;
    display: inline-block;
  }

  .avatar::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #fff;
  }

  .avatar.online::before {
    background: #1dbf73;
  }

  .avatar.offline::before {
    background: grey;
  }

  .card {
    margin-top: 20px;
  }